@import '@transferwise/neptune-css/src/less/neptune-tokens.less';

.tw-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: var(--space-16);
  border: 1px solid var(--color-border-neutral);
  border-radius: 3px;
  text-align: center;

  &__link {
    text-decoration: none;

    &:focus {
      outline: none;
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &:hover,
  &:focus-within {
    border: 1px solid var(--color-border-focus);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  }

  & + .tw-tile {
    margin-left: 24px;
  }
}
